.w-input {
	background-color: white;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	padding: 1px;
}

.w-input-bool {
	width: 60px;
	direction: ltr;
	padding: 1px 5px;
	text-align: left;
	font-size: 12px !important;
}

.w-inner-input {
	background-color: inherit !important;
	border: 0 !important;
}

.w-img-button {
	width: 18px;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
}

div.w-float-table > div {
	display: inline-block;
	vertical-align: top;
	margin: 3px 2px;
	min-height: 85px;
	min-width: 150px;
}

.yr, .mo, .dy, .hr, .mi, .sc {
	text-align: center;
	width: 22px;
}

.yr {
	width: 44px;
}
