<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

	<display-name>Wickomp</display-name>

	<filter>
		<filter-name>TestHttpAuthFilter</filter-name>
		<filter-class>org.devocative.wickomp.demo.TestHttpBasicAuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>TestHttpAuthFilter</filter-name>
		<url-pattern>*.ba</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>wicket.wickomp</filter-name>
		<filter-class>org.apache.wicket.protocol.ws.javax.JavaxWebSocketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.devocative.wickomp.demo.WickompApplication</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>wicket.wickomp</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
