table.selListOpener {
    padding: 1px;
}

input.selListTitle {
    width: 120px;
}

div.selListDropDown {
    visibility: hidden;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px black outset;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

div.selListChoices {
    max-height: 150px;
    overflow: auto;
}

/* this is for IE */
* html div.selListChoices {
    height: expression( this.scrollHeight > 149 ? "150px" : "auto" );
    overflow: auto;
}
