<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %m%n"/>
		</layout>
	</appender>

	<!--<appender name="MAIN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/lg.log" />
		<param name="append" value="true" />
		<param name="datePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] (%-9t %d) %m%n" />
		</layout>
	</appender>-->

	<logger name="org.devocative" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>